footer{
    background: #F0F2F5; /* Seamless transition from wins-section gradient */
    text-align: center;
    padding: 2rem 0 1.5rem 0;
    margin-bottom: 0px;
    font-size: 0.9rem;
    margin-top: 0;
    font-family: 'Segoe UI', sans-serif;
    color: #1e1e1e; /* Text in black */
}

.footer__copyright{
    margin-bottom: 1rem;
   
}

/* ==================Media Queries (Small Devices)==================*/
@media screen and (max-width:600px) {
    .permalinks{
        flex-direction: column;
        gap: 1.5rem;
    }
    .footer__socials{
        margin-bottom: 2.6rem;
    }
}